{
	"branches": [
		"main",
		{
			"name": "dev",
			"prerelease": true
		}
	],
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		[
			"@semantic-release/git",
			{
				"assets": [
					"package.json",
					"package-lock.json",
					"bun.lockb",
					"CHANGELOG.md"
				],
				"message": "chore(release): ${nextRelease.version} [skip ci]"
			}
		]
	]
}
