name: CD

on:
    workflow_run:
        workflows: ["CI"]
        types:
            - completed
        branches:
            - main
            - dev

env:
    REGISTRY: reg.m1000.fr
    IMAGE_NAME: leserveur/lebot

jobs:
    release:
        runs-on: self-hosted
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        outputs:
            version: ${{ steps.get_version.outputs.VERSION }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  ref: ${{ github.event.workflow_run.head_sha }}

            - name: Fix git safe directory
              run: git config --global --add safe.directory $GITHUB_WORKSPACE

            - name: Checkout branch
              run: git checkout -B ${{ github.event.workflow_run.head_branch }}

            - name: Setup Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install

            - name: Run Semantic Release (local)
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: bunx semantic-release --no-ci

            - name: Get version from package.json
              id: get_version
              run: echo "VERSION=$(node -p \"require('./package.json').version\")" >> $GITHUB_OUTPUT

    build:
        needs: release
        if: ${{ github.event.workflow_run.head_branch == 'main' }}
        runs-on: self-hosted
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.workflow_run.head_sha }}

            - name: Log into registry ${{ env.REGISTRY }}
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ secrets.HARBOR_USERNAME }}
                  password: ${{ secrets.HARBOR_PASSWORD }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Update package.json version
              run: |
                  npm version ${{ needs.release.outputs.version }} --no-git-tag-version
              shell: bash

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.release.outputs.version }}

    deploy:
        needs: build
        runs-on: self-hosted
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.workflow_run.head_sha }}

            - name: Copy docker-compose.yml
              uses: appleboy/scp-action@v0.1.7
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  source: "docker-compose.yml"
                  target: "/root/discord/bots/leBot"

            - name: Deploy to production
              uses: appleboy/ssh-action@v1.0.3
              env:
                  HARBOR_USERNAME: ${{ secrets.HARBOR_USERNAME }}
                  HARBOR_PASSWORD: ${{ secrets.HARBOR_PASSWORD }}
                  REGISTRY: ${{ env.REGISTRY }}
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  script: |
                      echo $HARBOR_PASSWORD | docker login $REGISTRY -u $HARBOR_USERNAME --password-stdin
                      cd /root/discord/bots/leBot
                      docker compose pull
                      docker compose up -d
