name: CD

on:
    workflow_run:
        workflows: ["Release"]
        types: [completed]

env:
    REGISTRY: reg.m1000.fr
    IMAGE_NAME: leserveur/lebot

jobs:
    build:
        if: github.event.workflow_run.conclusion == 'success'
        runs-on: self-hosted

        permissions:
            contents: read
            packages: write

        steps:
            - uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: "22"

            - name: Extract version
              run: |
                  VERSION=$(node -p "require('./package.json').version")
                  echo "VERSION=$VERSION" >> $GITHUB_ENV

            - name: Log into registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ secrets.HARBOR_USERNAME }}
                  password: ${{ secrets.HARBOR_PASSWORD }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

    deploy:
        needs: build
        if: github.event.workflow_run.head_branch == 'main'
        runs-on: self-hosted

        steps:
            - uses: actions/checkout@v4

            - name: Copy docker-compose.yml
              uses: appleboy/scp-action@v0.1.7
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  source: "docker-compose.yml"
                  target: "/root/discord/bots/leBot"

            - name: Deploy to production
              uses: appleboy/ssh-action@v1.0.3
              env:
                  HARBOR_USERNAME: ${{ secrets.HARBOR_USERNAME }}
                  HARBOR_PASSWORD: ${{ secrets.HARBOR_PASSWORD }}
                  REGISTRY: ${{ env.REGISTRY }}
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  envs: HARBOR_USERNAME,HARBOR_PASSWORD,REGISTRY
                  script: |
                      echo "$HARBOR_PASSWORD" | docker login $REGISTRY -u $HARBOR_USERNAME --password-stdin
                      cd /root/discord/bots/leBot
                      docker compose pull
                      docker compose up -d
