name: Publish Docs
on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build Retype
        uses: retypeapp/action-build@v3

      - name: Add CNAME
        run: |
          mkdir -p public
          echo "hivecord.m1000.fr" > public/CNAME

      - name: Push to gh-pages
        uses: retypeapp/action-github-pages@v3
        with:
          branch: gh-pages
          token: ${{ secrets.GITHUB_TOKEN }}
