name: Release

on:
    workflow_dispatch:
    workflow_run:
        workflows: ["CI"]
        types:
            - completed
        branches:
            - main
            - dev

jobs:
    release:
        runs-on: self-hosted
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        outputs:
            version: ${{ steps.get_version.outputs.VERSION }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  ref: ${{ github.event.workflow_run.head_sha }}

            - name: Fix git safe directory
              run: git config --global --add safe.directory '*'

            - name: Checkout branch
              run: git checkout -B ${{ github.event.workflow_run.head_branch }}

            - name: Setup Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install

            - name: Run Semantic Release (local)
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: bunx semantic-release --no-ci

            - name: Get version from package.json
              id: get_version
              run: echo "VERSION=$(node -p \"require('./package.json').version\")" >> $GITHUB_OUTPUT
