name: CI

on:
  push:
    branches: [ "dev" ]

jobs:
  test:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun install

    - name: Generate Prisma Client
      run: bunx prisma generate
      env:
        DATABASE_URL: "mysql://root:password@localhost:3306/lebot"

    - name: Typecheck
      run: bun run typecheck

    - name: Run tests
      run: bun test
      env:
        DATABASE_URL: "mysql://root:password@localhost:3306/lebot"
